.category-badge {
  font-size: 12px !important;
  width: fit-content !important;
  height: fit-content !important;
}

.category-badge:hover {
  cursor: pointer !important;
  text-decoration: underline !important;
}
