.createpost-container {
  height: fit-content;
}

.createpost-container .container {
  display: flex;
  padding-top: 3vh;
  align-items: center;
  padding-bottom: 12vh;
  justify-content: center;
}

.createpost-container .container .card {
  width: 70%;
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.createpost-container .container .card form span#cover-image-label {
  color: #222;
  font-size: 14px !important;
  font-weight: 400 !important;
}

.createpost-container .container .card form .img-preview {
  width: 100%;
  height: 35vh;
  border-radius: 10px;
}

.createpost-container .container .card form .img-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.createpost-container .container .card form .remove-image {
  width: 100%;
  border: none;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.createpost-container .container .card form input[type="file"] {
  width: 100%;
  font-size: 0.8rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
}

.createpost-container .container .card form #post-title {
  width: 100%;
  height: 5rem;
  border: none;
  color: #222;
  font-size: 2rem;
  font-weight: bold;
  background-color: transparent;
}

.createpost-container .container .card form #post-title:focus {
  outline: none;
  box-shadow: none;
}

.createpost-container .container .card form #post-title::placeholder {
  color: #2224;
  font-size: 2rem;
  font-weight: bold;
}

.createpost-container .container .card form .ck-editor__editable {
  min-height: 30vh;
}

.createpost-container .container .card form .submit {
  width: 10rem;
  padding: 0.3rem;
}

.createpost-container .container .card .error {
  margin: 1rem 0;
  color: #f44336;
  font-size: 0.8rem;
  text-align: center;
}

@media only screen and (max-width: 786px) {
  .createpost-container .container .card {
    width: 100%;
  }

  .createpost-container .container .card form .submit {
    width: 100%;
  }
}
@media only screen and (max-width: 426px) {
  .createpost-container .container .card form .ck-editor__editable {
    min-height: 20vh;
  }
}
