* {
  font-family: Ubuntu;
}

.profile-container {
  display: flex;
  padding-top: 3vh;
  min-height: 75vh;
  flex-direction: row;
  margin-bottom: 5rem;
  justify-content: space-around;
}

.profile-container .loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-container .profile-card {
  margin-top: 5rem;
  height: fit-content;
}

.profile-container .card {
  min-width: 22rem;
  border-radius: 6px;
  background-color: #fff;
}

.profile-container .card .card-body .basic-profile {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile-container .card .user-icon {
  border-radius: 50%;
  background-color: #222;
}

.profile-container .card h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.1rem;
}

.profile-container .card .user-email {
  color: #333;
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: 0.1rem;
}

.profile-container .card .user-info {
  color: #333;
  font-weight: 500;
  font-size: 0.8rem;
}

.profile-container .profile-blogs {
  width: 60%;
}

.profile-container .profile-blogs .main-heading {
  font-weight: 500;
  color: #368dd6;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.author {
  margin-bottom: 0;
}

@media only screen and (max-width: 1024px) {
  .profile-container .card {
    min-width: 19rem;
  }
}

@media only screen and (max-width: 768px) {
  .profile-container {
    padding-top: 0;
    place-items: center;
    flex-direction: column;
  }

  .profile-container .card .user-icon {
    margin-right: 1rem;
  }

  .profile-container .profile-blogs .main-heading {
    margin-top: 2rem;
  }

  .profile-container .profile-card {
    width: 90%;
    margin-top: 3rem;
  }

  .profile-container .card .card-body .basic-profile {
    justify-content: flex-start;
  }

  .profile-container .profile-blogs {
    width: 90%;
  }

  .profile-container .profile-blogs .blog-card {
    width: 100%;
  }
}
