.about {
  width: 100%;
  padding-top: 9rem;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 10%;
  height: fit-content;
}

/* FOUNDING EDITORS */
.about-sub-section {
  display: flex;
  flex-grow: 3;
  flex-wrap: wrap;
  place-items: flex-start;
  justify-content: stretch;
}

@media only screen and (max-width: 768px) {
  .about {
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 11rem;
  }
}

@media only screen and (max-width: 426px) {
  .about {
    padding-left: 7%;
    padding-right: 7%;
  }
}
