/* NEWS CARD */
.news-card {
  flex: 1;
  width: 35%;
  height: 15rem;
  margin: 0.1rem;
  min-width: 18rem;
  border-radius: 2px;
}

/* NEWS CARD TINTED BACKGROUND */
.news-card .tint {
  height: 100%;
  border-radius: 2px;
  background-color: #111c;
}

/* HASHTAG SECTION */
.news-card .tint .category-tag {
  width: 100% !important;
}

/* NEWS CARD TITLE */
.news-card .tint .title {
  cursor: pointer;
  transition-duration: 0.4s;
}

.news-card .tint .title:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 426px) {
  .news-card {
    height: 13rem;
  }
}
