.borders {
  border: 1px solid red;
}

.post-card {
  width: 30%;
  flex-grow: 1;
  padding: 1rem;
  max-width: 55%;
  /* min-width: 16rem; */
  border-radius: 10px;
  border: 1px solid #2222;
  box-shadow: 1px 2px 9px #2224;
}

.post-card .card-image {
  height: 12rem;
  border-radius: 10px;
  border: 1px solid #2229;
}

.post-card .menu-container {
  top: 0;
  right: 0;
  width: 100%;
  height: 2rem;
  display: flex;
  padding: 0 0.3rem;
  position: absolute;
  place-items: center;
  justify-content: flex-end;
  background-color: #800;
}

.post-card .menu-container .post-menu-items svg {
  width: 25px;
  height: 25px;
}

.read-more-button button {
  transition-duration: 0.4s;
  font-size: 13px !important;
  box-shadow: 0 3px 7px #485fc777 !important;
}

.read-more-button button:hover {
  box-shadow: 0 6px 10px #485fc777 !important;
}

.read-more-button button .right-arrow {
  transition-duration: 0.4s;
}

.read-more-button button:hover > .right-arrow {
  padding-left: 8px !important;
  transform: scale(1.5) !important;
}

.read-more-button button:active {
  box-shadow: 0 1px 4px #485fc777 !important;
}

@media only screen and (max-width: 1024px) {
  .post-card {
    max-width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .post-card {
    width: 100%;
    max-width: 100%;
    margin: 0 0.5rem 1rem 0.5rem;
  }
}

@media only screen and (max-width: 426px) {
  /* SET Read More BUTTON TO FULL WIDTH */
  .read-more-button,
  .read-more-button button.button {
    width: 100% !important;
  }

  .post-card .card-image {
    height: 9rem;
  }

  .post-card h1 .post-title {
    font-size: 1rem;
  }

  .post-card div.datetime #date {
    font-size: 0.7rem !important;
  }

  .post-card div.datetime #hashtag {
    font-size: 0.7rem !important;
  }
}
