.category-container {
  min-height: 100vh;
  padding-top: 9rem;
}

.category-container .category-sub-container {
  gap: 20px;
  width: 90%;
  padding-top: 1.5rem;
  margin-bottom: 3rem;
  align-items: stretch;
  justify-content: stretch !important;
}

.category-container .category-sub-container .post-card:nth-child(1) {
  flex-grow: 9;
}

.category-container .category-sub-container .no-content {
  width: 100% !important;
  text-align: center !important;
  height: fit-content !important;
}

@media only screen and (max-width: 1024px) {
  .category-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 375px) {
  .category-container {
    padding-top: 11rem;
  }
}
