.category-container {
  min-height: 100vh;
  padding-top: 7rem;
}

.category-container .category-sub-container {
  width: 50%;
  padding-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 1024px) {
  .category-container {
    flex-direction: column;
  }

  .category-container .category-sub-container {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .category-container .category-sub-container {
    width: 100%;
  }
}
