.home-container {
  width: 100%;
  display: flex;
  padding-top: 9rem;
  min-height: 100vh;
  place-items: center;
  padding-bottom: 3rem;
  flex-direction: column;
}

.home-container .no-post {
  font-size: 1.2rem;
}

.home-container .container {
  width: 80%;
  border-radius: 6px;
  margin-bottom: 3rem;
}

.home-container .container .news-cards {
  gap: 20px;
  width: 100%;
  align-items: stretch;
}

.home-container .container .explore #selectForm {
  margin: 0;
}

.home-container .loader {
  width: 100% !important;
  height: 100% !important;
}

.home-container .latest-news {
  width: 79%;
  display: flex;
  justify-content: space-between;
}

.home-container .latest-news .news-card:nth-of-type(1) {
  flex-grow: 2;
}

.home-container .container .news-cards .post-card:nth-of-type(1) {
  flex-grow: 8;
}

.home-container .container .news-cards .post-card:last-child {
  flex-grow: 2;
}

.home-container .explore .resetCategory {
  cursor: pointer;
  border-radius: 4px;
  margin-left: 0.5rem;
  padding: 0.3rem 0.8rem;
  border: 1px solid #1111;
  transition-duration: 0.4s;
  background-color: #f5f5f5;
}

.home-container .explore .resetCategory:hover {
  background-color: #d5d5d5;
}

@media only screen and (max-width: 1024px) {
  .home-container {
    flex-direction: column;
  }

  .home-container .container {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .home-container {
    padding-top: 11rem;
  }

  .home-container .latest-news {
    width: 90%;
  }

  .home-container .container {
    width: 100%;
  }

  .home-container .blog-card {
    width: 100%;
  }

  .home-container .container .explore {
    width: 100%;
    flex-direction: column;
    place-items: flex-start;
  }

  .home-container .container .explore h1 {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .home-container .container .explore div {
    width: 100%;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 426px) {
  .home-container {
    padding-top: 14rem;
  }
}
