/* POSITION OF TOP AND BOTTOM(CATEGORY) NAVS */
.header-section .navbar,
.header-section nav.breadcrumb {
  width: 100%;
  z-index: 1;
  position: fixed;
}

.header-section .navbar div#navbar-basic #navbar-end-1 {
  display: none;
}

/* FOR TOP NAVBAR SECTION */
.header-section .navbar {
  padding: 0 2%;
  padding-right: 3%;
  border-bottom: 1px solid #eee;
}

/* LOGO SECTION */
.header-section .navbar span#logo-section div {
  border-radius: 3px;
  padding: 0.3rem 0.6rem;
}

.header-section .navbar div span#logo-section img {
  min-height: 40px;
}

.header-section .navbar span#logo-section span {
  line-height: 1;
  letter-spacing: 1px;
}

.header-section .navbar-item .buttons button.login-button,
button.about-button {
  height: 2.3rem;
  font-size: 16px;
  transition-duration: 0.3s;
  box-shadow: 1px 2px 2px #1113;
}

.header-section .navbar-item .buttons button.login-button:hover,
button.about-button:hover {
  box-shadow: 3px 4px 4px #1113;
}

.header-section .navbar-item .buttons button *,
button * {
  cursor: pointer !important;
}

.header-section .navbar .navbar-menu form.search-form {
  flex: 1;
  display: flex;
}

.header-section .navbar .navbar-menu form.search-form .control {
  flex: 1;
}

.header-section .navbar .navbar-menu form.search-form button {
  width: 30px;
  height: 30px;
  margin-left: -2.45rem;
  box-shadow: 0 4px 8px #485fc777;
}

/* LOWER NAVBAR SECTION(NEWS CATEGORIES) */
.header-section nav.breadcrumb {
  flex: 1;
  top: 4.2rem;
  width: 100%;
  padding: 0.3rem 1rem;
  box-shadow: 0 3px 4px #2222;
}

.header-section nav.breadcrumb ul {
  flex: 1;
  width: 100%;
}

.header-section nav.breadcrumb ul li a {
  font-size: 11px;
}

@media only screen and (max-width: 1024px) {
  .header-section .navbar div.navbar-brand {
    flex: none;
  }

  .header-section .navbar div#navbar-basic {
    flex: 1;
    box-shadow: none;
    display: flex !important;
    background-color: transparent;
  }

  .header-section .navbar div#navbar-basic #navbar-end-1 {
    display: flex;
  }

  .header-section .navbar div#navbar-basic #navbar-end-2 {
    display: none;
  }
}

@media only screen and (max-width: 1023px) {
  /* FOR TOP NAVBAR SECTION */
  .header-section .navbar div.navbar-brand {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 768px) {
  /* FOR TOP NAVBAR SECTION ON SMALLER SCREENS */
  .header-section .navbar {
    padding: 0 3% 0 2%;
  }

  .header-section .navbar div#navbar-basic {
    justify-content: flex-end;
  }

  .header-section .navbar div#navbar-basic form {
    display: none;
  }
}
