/* POSITION OF TOP AND BOTTOM(CATEGORY) NAVS */
.header-section .navbar,
.header-section nav.breadcrumb {
  width: 100%;
  position: fixed;
}

/* FOT BOTTOM(CATEGORY) NAV */
.header-section nav.breadcrumb {
  top: 3.9rem;
}

/* TOP NAVBAR SECTION */
.header-section .navbar div span#logo-section img {
  min-height: 35px;
}

.header-section .navbar {
  padding: 0 1%;
  border-bottom: 1px solid #eee;
}

.header-section .navbar-item .buttons a.login-button,
a.about-button {
  height: 2.3rem;
  font-size: 16px;
  transition-duration: 0.3s;
  box-shadow: 3px 4px 4px #1113;
}

.header-section .navbar-item .buttons a.login-button:active,
a.about-button:active {
  box-shadow: 1px 2px 3px #1113;
}

.header-section .navbar .navbar-menu form.search-form {
  flex: 1;
}

.header-section .navbar .navbar-menu form.search-form .control {
  flex: 1;
}

.header-section .navbar .navbar-menu form.search-form button {
  width: 30px;
  height: 30px;
  margin-left: -2.45rem;
  box-shadow: 0 4px 8px #485fc777;
}

/* LOWER NAVBAR SECTION(NEWS CATEGORIES) */
.header-section nav.breadcrumb {
  flex: 1;
}

.header-section nav.breadcrumb ul {
  flex: 1;
  box-shadow: 0 3px 10px #2222;
}

@media only screen and (max-width: 1023px) {
  /* FOR TOP NAVBAR SECTION */
  .header-section .navbar div.navbar-brand {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 768px) {
  /* FOR TOP NAVBAR SECTION ON SMALLER SCREENS */
  .header-section .navbar {
    padding: 0 0 0 2%;
  }
}
