* {
  font-family: "Ubuntu", sans-serif;
}

.notFound {
  width: 100%;
  height: 100vh;
  display: flex;
  place-items: center;
  flex-direction: column;
  justify-content: center;
}

.notFound .illustration {
  width: 25%;
  height: 30%;
}

.notFound .page-not-found {
  font-size: 50px;
  color: #409cb5;
  font-weight: 600;
}

.notFound .back-button {
  color: #3e8ea3;
}
