.not-found {
  width: 100%;
  display: flex;
  min-height: 100vh;
  place-items: center;
  flex-direction: column;
  justify-content: center;
}

.not-found span.subtitle {
  margin: 0;
  line-height: 1.7;
}

.not-found img {
  height: 260px;
}
