* {
  font-family: Ubuntu;
}

.dashboard-container {
  display: flex;
  padding-top: 3vh;
  min-height: 75vh;
  flex-direction: row;
  margin-bottom: 3.5rem;
  justify-content: space-between;
}

.dashboard-container .loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-container .dashboard-card {
  top: 4rem;
  left: 3rem;
  width: 20rem;
  height: fit-content;
}

.dashboard-container .dashboard-card .card {
  margin: 0;
  border-radius: 6px;
  background-color: #fff;
}

.dashboard-container .dashboard-card .tab {
  margin-top: 1rem;
}

.dashboard-container .dashboard-card .tab .tab-buttons {
  margin-bottom: 0.7rem;
}

.dashboard-container .card .card-body .basic-dashboard {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dashboard-container .card .user-icon {
  border-radius: 50%;
  background-color: #222;
}

.dashboard-container .card h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.1rem;
}

.dashboard-container .card .user-email {
  color: #333;
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: 0.1rem;
}

.dashboard-container .card .user-info {
  color: #333;
  font-weight: 500;
  font-size: 0.8rem;
}

.dashboard-container .dashboard-blogs {
  width: 70%;
}

.dashboard-container .dashboard-blogs .main-heading {
  font-weight: 500;
  color: #368dd6;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.author {
  margin-bottom: 0;
}

@media only screen and (max-width: 1024px) {
  .dashboard-container .card {
    min-width: 19rem;
  }

  .dashboard-container .dashboard-blogs {
    width: 60%;
  }
}

@media only screen and (max-width: 768px) {
  .dashboard-container {
    padding-top: 0;
    place-items: center;
    flex-direction: column;
  }

  .dashboard-container .card .user-icon {
    margin-right: 1rem;
  }

  .dashboard-container .dashboard-blogs .main-heading {
    margin-top: 2rem;
  }

  .dashboard-container .dashboard-card {
    top: 0;
    width: 90%;
    margin-top: 3rem;
  }

  .dashboard-container .dashboard-card .card {
    margin: 0 0.3rem;
  }

  .dashboard-container .dashboard-card .tab {
    display: flex;
    place-items: center;
    justify-content: space-between;
  }

  .dashboard-container .dashboard-card .tab-buttons {
    margin: 0 0.3rem;
  }

  .dashboard-container .card .card-body .basic-dashboard {
    justify-content: flex-start;
  }

  .dashboard-container .dashboard-blogs {
    width: 90%;
  }

  .dashboard-container .dashboard-blogs .blog-card {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .dashboard-container .dashboard-card .tab {
    flex-direction: column;
  }
}
