.blog-container {
  display: flex;
  padding-top: 5vh;
  min-height: 75vh;
  place-items: center;
  margin-bottom: 90px;
  flex-direction: column-reverse;
}

.blog-container .loader {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-container .utilities {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.blog-container .utilities .account-alert {
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 2rem;
  text-align: center;
}

.blog-container .utilities .utility-item {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
}

.blog-container .utilities .like:hover {
  color: #f33838;
}

.blog-container .utilities .liked {
  color: #f33838;
}

.blog-container .utilities .comment:hover {
  color: #368dd6;
}

.blog-container .blog {
  width: 60%;
  display: flex;
  align-self: center;
  justify-content: center;
}

.blog-container .blog .card {
  width: 100%;
  border: none;
  background-color: transparent;
}

.blog-container .blog .card .card-body {
  padding: 0.5rem;
}

.blog-container .blog .card .card-body h1 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.blog-container .blog .card .card-body .postHeader {
  display: flex;
  place-items: center;
  justify-content: space-between;
}

.blog-container .blog .card .card-body .postHeader .date {
  color: #777;
  font-weight: 400;
  font-size: 0.8rem;
  font-style: italic;
  margin-right: 1rem;
}

.blog-container .blog .card .card-body .postHeader .category {
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.65rem;
  margin-right: 1rem;
  border-radius: 15px;
  padding: 0.1rem 0.6rem;
  text-transform: uppercase;
  background-color: #368dd6;
}

.blog-container .blog .card .card-body .postHeader .share {
  border-radius: 50%;
  padding: 0.4rem 0.6rem;
  transition-duration: 0.5s;
}

.blog-container .blog .card .card-body .postHeader .share:hover {
  cursor: pointer;
  background-color: #aaa5;
}

.comment-box form button {
  width: 30%;
  color: #fff;
  display: flex;
  cursor: pointer;
  border-radius: 7px;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  justify-content: center;
  background-color: #368dd6;
}

.comment-box form button:hover {
  background-color: #257cc5;
}

.comment-container .comment {
  padding: 1rem 1rem;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
}

.comment-container .comment .comment-author {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.comment-container .comment .comment-date {
  font-size: 0.8rem;
  font-weight: 400;
  color: #181717;
  margin-bottom: 0.5rem;
}

.comment-container .comment .comment-content {
  font-size: 1.2rem;
  font-weight: 500;
  color: #181717;
}

.copy-link .copy-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy-link .copy-link-container .url {
  font-size: 1rem;
  font-weight: 500;
  color: #d64531;
  word-break: break-all;
}

.copy-link .copy-link-container .copy {
  cursor: pointer;
  transition: 0.3s;
}

.copy-link .copy-link-container .copy:hover {
  color: #f33838;
  transform: scale(1.1);
}

.copy-link .copied-text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 500;
}

.copy-link .copied-text span {
  border-radius: 7px;
  padding: 0.5rem 1rem;
  /* background-color: #d4b9e4; */
}

@media only screen and (max-width: 1024px) {
  .blog-container .blog {
    width: 70%;
  }
}

@media only screen and (max-width: 426px) {
  .blog-container .blog {
    width: 90%;
  }
}
