* {
  font-family: "Ubuntu", sans-serif;
}

.login-container {
  display: flex;
  min-height: 88vh;
  align-items: center;
  justify-content: center;
}

.login-container .card {
  width: 35%;
  border: none;
  border-radius: 10px;
  padding: 1rem 0.5rem;
  border: 1px solid #1112;
  transition-duration: 0.4s;
  background-color: transparent;
  box-shadow: 1px 1px 16px #2221;
}

.login-container .card .card-title {
  font-size: 1.7rem;
  font-weight: bold;
  color: #343335;
  text-align: center;
  margin-bottom: 2rem;
}

.login-container .card form input {
  width: 100%;
}

.login-container .card .form .email-label {
  font-size: 0.9rem;
  font-weight: 600;
}

.login-container .card form .login-button {
  width: 100%;
  color: #ffffff;
  margin-top: 1rem;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  border: #368dd6;
  background-color: #368dd6;
}

.login-container .card .error p {
  color: #c93c23;
  padding-top: 2vh;
  font-size: 1.2rem;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .login-container .card {
    width: 55%;
  }
}

@media only screen and (max-width: 426px) {
  .login-container .card {
    width: 95%;
  }
}
