* {
  cursor: default;
}

/* PROFILE CARD */
.profile-card {
  border-radius: 8px;
  box-shadow: 2px 4px 12px #ccc;
}

@media only screen and (max-width: 426px) {
  .profile-card {
    margin-right: 0 !important;
  }
}
